<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vyvojmobilapp.alarmingmath" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">
        <activity
            android:name=".AlarmMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".response.AlarmManagerHelper"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".response.AlarmService"
            android:enabled="true" />

        <activity
            android:name=".alarm.create.AlarmCreateActivity"
            android:label="@string/title_activity_alarm_create"
            android:parentActivityName=".AlarmMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AlarmMainActivity" />
        </activity>

        <activity
            android:name=".response.AlarmResponse"
            android:label="@string/title_activity_alarm_response" >
        </activity>

        <service
            android:name=".response.RingtonePlayerService"
            android:enabled="true">
        </service>

        <meta-data android:name="DATABASE" android:value="alarms.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.vyvojmobilapp.alarmingmath.alarm" />

    </application>

</manifest>
