<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.vyvojmobilapp.alarmingmath" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <receiver
        android:name=".AlarmReceiver"
        android:process=":remote" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AlarmMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmManagerHelper" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AlarmService"
            android:enabled="true" />

        <activity
            android:name=".AlarmCreateActivity"
            android:label="@string/title_activity_alarm_create"
            android:parentActivityName=".AlarmMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AlarmMainActivity" />
        </activity>
        <activity
            android:name=".AlarmResponse"
            android:label="@string/title_activity_alarm_response" >
        </activity>
    </application>

</manifest>
